In [122]:
import pandas as pd

In [123]:
path = "https://raw.githubusercontent.com/ovibaridar/Data_sets/main/Traffic%20Violaions.csv"

In [124]:
data = pd.read_csv(path)

In [125]:
data.head()

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [126]:
data = data.drop(["stop_date", "driver_age_raw" , "stop_time", "search_type","country_name"] , axis = 1 )

In [127]:
data.head()

,driver_gender,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,M,20.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
1,M,40.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
2,M,33.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
3,M,19.0,White,Call for Service,Other,False,Arrest Driver,True,16-30 Min,False
4,F,21.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False

In [128]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

In [129]:
for col in data.columns:
    if data[col].dtype == 'object':
        data[col] = le.fit_transform(data[col])

In [130]:
data.head()

,driver_gender,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1,20.0,4,7,4,0,2,0,0,0
1,1,40.0,4,7,4,0,2,0,0,0
2,1,33.0,4,7,4,0,2,0,0,0
3,1,19.0,4,1,2,0,0,1,1,0
4,0,21.0,4,7,4,0,2,0,0,0

In [131]:
data.isnull().sum()

driver_gender            0
driver_age            3620
driver_race              0
violation_raw            0
violation                0
search_conducted         0
stop_outcome             0
is_arrested              0
stop_duration            0
drugs_related_stop       0
dtype: int64

In [132]:
data["driver_age"] = data["driver_age"].fillna(data["driver_age"].mean())

In [133]:
data.isnull().sum()

driver_gender         0
driver_age            0
driver_race           0
violation_raw         0
violation             0
search_conducted      0
stop_outcome          0
is_arrested           0
stop_duration         0
drugs_related_stop    0
dtype: int64

In [134]:
data.duplicated().sum()

46005

In [135]:
data = data.drop_duplicates()

In [136]:
data.duplicated().sum()

0

In [137]:
data.shape

(6961, 10)

In [138]:
from imblearn.over_sampling import RandomOverSampler
rnd = RandomOverSampler()

In [153]:
def is_categorical(column):
    # Check unique values
    unique_values = column.unique()
    num_unique_values = len(unique_values)
    
    # Check data type
    data_type = column.dtype
    
    # Check if number of unique values is small and data type is object or integer
    value_counts = column.value_counts()
    max_frequency = value_counts.max()
    min_frequency = value_counts.min()
    if len(value_counts)<5:
        return True
    
    return False

In [154]:
for col in data.columns:
    cata = is_categorical(data[col])

driver_gender  =  True
driver_age  =  False
driver_race  =  False
violation_raw  =  False
violation  =  False
search_conducted  =  True
stop_outcome  =  False
is_arrested  =  True
stop_duration  =  True
drugs_related_stop  =  True

In [141]:
data.head()

,driver_gender,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1,20.0,4,7,4,0,2,0,0,0
1,1,40.0,4,7,4,0,2,0,0,0
2,1,33.0,4,7,4,0,2,0,0,0
3,1,19.0,4,1,2,0,0,1,1,0
4,0,21.0,4,7,4,0,2,0,0,0

In [152]:
data['stop_outcome'].value_counts()

stop_outcome
2    4430
0    1279
5     571
4     253
3     227
1     194
6       7
Name: count, dtype: int64